@tailwind base;

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    font-family: inherit;
    background: transparent;
  }
}

@tailwind components;
@tailwind utilities;
